<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postfile</title>
</head>
<body>
    <form method="post" action="/submit">
        姓名：<input type="text" name="username" />
        密码：<input type="password" name="passwd" />
        爱好：
        <input type="checkbox" name="hobby" value="sing" />唱歌
        <input type="checkbox" name="hobby" value="dancing" />跳舞
        <input type="checkbox" name="hobby" value="paint" />画画
        <input type="submit" value="登录" />
    </form>
</body>
</html>