<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

</head>
<body>
    <form action="/marong" method="post">
        姓名：<input type="text" name="username" />
        <br/>
        密码：<input type="password" name="passwd" />
        <br/>
        爱好：
        <input type="checkbox" name="hobby" value="sing" />唱歌
        <input type="checkbox" name="hobby" value="dancing" />跳舞
        <input type="checkbox" name="hobby" value="paint" />画画
        <br/>
        <input type="submit" value="上传" />
    </form>
</body>
</html>