#main{
    width: 300px;
    margin:200px auto;
    border:0px solid skyblue;
    padding: 20px;
}
#img{
    width: 70px;
    height: 70px;
    margin:0px auto 20px 80px;
}
a{
    color: #4cae4c;
}
a:hover{
    color: #4cae4c;
}